body {
	background-color: #55595c;
	font-family: system-ui;
}

#wrapper {
	background-color: white;
	max-width: 600px;
	margin: auto;
	border-radius: 30px;
	padding: 20px;
}

#calculator_bay {
	display: flex;
}

#calculator_picture {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	margin: auto;
	flex-shrink: 0;
}

#history_display{
	flex: 1;
}

#url {
	text-align: center;
	font-weight: bold;
}

#history_checkbox {
	text-align: center;
}